name: build_all_images
'on':
  workflow_call:
    inputs:
      docker_tag:
        required: true
        type: string
      tag_latest:
        required: true
        type: boolean
      NO_CACHE:
        required: true
        type: boolean
      runtime_docker_image:
        type: string
        required: true
env:
  BRANCH_NAME: '${{ github.event.pull_request.head.ref }}'
jobs:
  discover_folders:
    runs-on: ubuntu-latest
    outputs:
      base_node_folders: ${{ steps.find-folders.outputs.base_node }}
      node_24_language_folders: ${{ steps.find-folders.outputs.node_24_languages }}
      project_folders: ${{ steps.find-folders.outputs.projects }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - id: find-folders
        run: |
          base_node_folders=$(find src/base_node -mindepth 1 -maxdepth 1 -type d -printf '%f\n' | jq -R -s -c 'split("\n")[:-1]')
          node_24_language_folders=$(find src/languages -mindepth 1 -maxdepth 1 -type d -name 'node_24*' -printf '%f\n' | jq -R -s -c 'split("\n")[:-1]')
          project_folders=$(find src/projects -mindepth 1 -maxdepth 1 -type d -printf '%f\n' | jq -R -s -c 'split("\n")[:-1]')
          {
            echo "base_node=$base_node_folders"
            echo "node_24_languages=$node_24_language_folders"
            echo "projects=$project_folders"
          } >> "$GITHUB_OUTPUT"
  package_base_docker_image:
    uses: ./.github/workflows/build_multi_arch_image.yml
    with:
      tag_latest: ${{ inputs.tag_latest }}
      docker_tag: ${{ inputs.docker_tag }}
      container_name: base
      base_folder: "."
      NO_CACHE: ${{ inputs.NO_CACHE }}
      runtime_docker_image: ${{ inputs.runtime_docker_image }}
  package_base_node_images:
    needs:
      - package_base_docker_image
      - discover_folders
    strategy:
      fail-fast: false
      matrix:
            container_name: ${{ fromJson(needs.discover_folders.outputs.base_node_folders) }}
    uses: ./.github/workflows/build_multi_arch_image.yml
    with:
      tag_latest: ${{ inputs.tag_latest }}
      docker_tag: ${{ inputs.docker_tag }}
      container_name: ${{ matrix.container_name }}
      base_folder: "base_node"
      NO_CACHE: ${{ inputs.NO_CACHE }}
      runtime_docker_image: ${{ inputs.runtime_docker_image }}
  package_node_24_language_docker_images:
    needs:
      - package_base_docker_image
      - package_base_node_images
      - discover_folders
    strategy:
      fail-fast: false
      matrix:
            container_name: ${{ fromJson(needs.discover_folders.outputs.node_24_language_folders) }}
    uses: ./.github/workflows/build_multi_arch_image.yml
    with:
      tag_latest: ${{ inputs.tag_latest }}
      docker_tag: ${{ inputs.docker_tag }}
      container_name: ${{ matrix.container_name }}
      base_folder: "languages"
      NO_CACHE: ${{ inputs.NO_CACHE }}
      EXTRA_COMMON: "common_node_24"
      runtime_docker_image: ${{ inputs.runtime_docker_image }}
  package_project_docker_images:
    needs:
      - package_node_24_language_docker_images
      - discover_folders
    strategy:
      fail-fast: false
      matrix:
        container_name: ${{ fromJson(needs.discover_folders.outputs.project_folders) }}
    uses: ./.github/workflows/build_multi_arch_image.yml
    with:
      tag_latest: ${{ inputs.tag_latest }}
      docker_tag: ${{ inputs.docker_tag }}
      container_name: ${{ matrix.container_name }}
      base_folder: "projects"
      NO_CACHE: ${{ inputs.NO_CACHE }}
      runtime_docker_image: ${{ inputs.runtime_docker_image }}
