name: Build and push docker image

on:
    workflow_call:

jobs:

    build_image:
        permissions:
            id-token: write
        runs-on: ${{ matrix.runner }}
        strategy:
            matrix:
                include:
                    - arch: amd64
                      runner: ubuntu-22.04
                    - arch: arm64
                      runner: ubuntu-22.04-arm
        steps:
            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
              with:
                  fetch-depth: 0

            # use setup-node rather than asdf so that it works multi-arch
            - name: setup node
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
              with:
                  node-version-file: .tool-versions
            - name: make install
              run: |
                make install-node

            - name: Build container
              run: |
                  make build-base-image
                  docker tag ghcr.io/nhsdigital/eps-devcontainer-base:latest ghcr.io/nhsdigital/eps-devcontainers:latest-${{ matrix.arch }}
                  docker save "ghcr.io/nhsdigital/eps-devcontainers:latest-${{ matrix.arch }}" -o eps-devcontainer-base-latest-${{ matrix.arch }}.img
              env:
                 GH_TOKEN: ${{ github.token }}
                 ARCHITECTURE: ${{ matrix.arch }}
            - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
              name: Upload docker images
              with:
                name: eps-devcontainer-base-latest-${{ matrix.arch }}.img
                path: |
                    eps-devcontainer-base-latest-${{ matrix.arch }}.img

    publish_image:
        needs: build_image
        runs-on: ubuntu-22.04
        permissions:
          contents: read
          packages: write
          attestations: write
          id-token: write
        steps:
            - name: Free Disk Space for Docker
              uses: endersonmenezes/free-disk-space@e6ed9b02e683a3b55ed0252f1ee469ce3b39a885
              with:
                remove_android: true
                remove_dotnet: true
                remove_haskell: true
                remove_tool_cache: true
                rm_cmd: "rm"
                remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
                remove_packages_one_command: true
            - name: Download amd64 images
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
              with:
                name: eps-devcontainer-base-latest-amd64.img
            - name: Download arm64 images
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
              with:
                name: eps-devcontainer-base-latest-arm64.img
            - name: Load and push multi-arch image
              run: |
                  echo "loading images"
                  docker load -i eps-devcontainer-base-latest-amd64.img
                  docker load -i eps-devcontainer-base-latest-arm64.img
                  echo "pushing images"
                  docker push ghcr.io/nhsdigital/eps-devcontainers:latest-amd64
                  docker push ghcr.io/nhsdigital/eps-devcontainers:latest-arm64
                  echo "creating manifest"
                  docker manifest create ghcr.io/nhsdigital/eps-devcontainers:latest \
                    --amend ghcr.io/nhsdigital/eps-devcontainers:latest-amd64 \
                    --amend ghcr.io/nhsdigital/eps-devcontainers:latest-arm64
                  echo "pushing manifest"
                  docker manifest push ghcr.io/nhsdigital/eps-devcontainers:latest
